<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Alkaline</string>
	<key>ordering</key>
	<array>
		<string>D82468E0-BAC0-4DD9-91AB-42CD39175750</string>
		<string>464B0C05-A330-48F2-B6A6-37E7910315F0</string>
		<string>C25F7515-62C7-42C7-BC60-350EF364F273</string>
	</array>
	<key>uuid</key>
	<string>7B0D9DBA-7237-43BB-87C9-FAF5F21FD5F4</string>
</dict>
</plist>
